body {
  font-family: "Poppins", sans-serif !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box !important;
}

/* UTILITIES */
.box-shadow {
  box-shadow: 0 2px 8px 5px rgba(0, 0, 0, 0.1);
}

.active {
  color: #e1323e !important;
}

.rounded-custom {
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}

.min-height-60vh {
  min-height: 60vh;
}

/* COLORS */
.red-bg {
  background-color: #ee626b;
}

.red-text {
  color: #ee626b;
}

/* NAVBAR */
.signin {
  border-radius: 20px;
  transition: background-color 0.3s ease-in;
}

.signin:hover {
  background-color: #e1323e;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* MAIN-BANNER */
.main-banner {
  min-height: 130vh;
  background-image: url("./images/banner-bg.jpg");
  background-position: center;
  background-size: cover;
}

.main-banner .row {
  min-height: 130vh;
  padding-block: 120px;
}

.btn {
  transition: background-color 0.3s ease-in;
}

.btn:hover {
  background-color: #0171f9 !important;
}

.form-control {
  padding-right: 150px !important;
}

.price-tag {
  top: 15px;
  right: 15px;
}

.discount-tag {
  width: 100px;
  height: 100px;
  bottom: 10px;
  left: 10px;
}

/* FEATURES */
.icon-container {
  width: 90px;
  height: 90px;
  transition: background-color 0.3s ease-in;
}

.features {
  margin-top: -80px;
  z-index: 99 !important;
}

.features .card {
  cursor: pointer;
}

.features .card:hover .icon-container {
  background-color: #ee626b !important;
}

/* TRENDING SECTION */

.trending-section .icon-container {
  height: 40px !important;
  width: 40px !important;
}

.trending-section .card:hover .icon-container {
  background-color: #0171f9 !important;
}

.trending-section h3 {
  transition: color 0.3s ease-in;
}

.trending-section .card:hover h3 {
  color: #0171f9 !important;
}

/* BANNER */
.banner {
  min-height: 60vh;
  background-image: url("./images/page-heading-bg.jpg");
  background-position: center;
  background-size: cover;
}

.banner .row {
  padding-block: 100px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 992px) {
  /* home page - HEADER */
  .discount-tag {
    bottom: -5% !important;
    left: -5% !important;
  }

  .w-lg-75-custom {
    width: 75% !important;
  }

  .navbar-collapse {
    background-color: transparent !important;
  }

  .nav-link {
    color: white !important;
    border-radius: 20px !important;
    transition: background-color 0.3s ease-in;
  }

  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .active {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
  }
}
